extends ../layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em Adventure

block content
    main.container.mt-5
        h2.text-center.mb-5 About us
        .row.mb-5
            .col.md-6
                p Praesent tincidunt ante at justo semper volutpat. Sed risus neque, scelerisque id dictum in, placerat non erat. Sed eget tellus eu mauris faucibus pharetra. Praesent vulputate diam ac diam dignissim, eu semper turpis gravida. Vestibulum tempor purus orci, vitae ullamcorper erat congue quis.
                
                p Nullam dapibus dui a velit lacinia, eu cursus massa cursus. Morbi lobortis fermentum urna, quis tincidunt justo varius vitae. In justo nisl, auctor vel eros sed, tempus efficitur lacus.
            .col.md-6
                img(src='/img/inicio_nosotros.jpg', class="img-fluid")

        h2.text-center.mb-5 Next trips
        include ../layout/partials/trips

        
    .discount
        .container
            .row
                .col-md-6
                    .content
                        h3 5% discount
                        p.title Trip to Canada
                        p.date 20 March 2019 - 28 March 2019
                        p.price $ 2.500

    .container
        h2.text-center.my-5 Reviews
        include ../layout/partials/reviews