footer.container.py-5
    .row
        .col-md-6
            nav.nav.justify-content-center.justify-content-md-start
                a(href="/about-us", class="nav-link") About us
                a(href="/travels", class="nav-link") Travels
                a(href="/reviews", class="nav-link") Reviews
        .col-md-6
            p.copyright.text-center.text-md-right
                | All Rights Reserved © 
                span= actualDate