header
    .navigation
        .container
            .row.justify-content-center.justify-contentmd-between.align-items-center.py-4
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/logo.svg", alt="Logo Travel", class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end
                        a(href="/about-us", class="nav-link") About us
                        a(href="/trips", class="nav-link") Travels
                        a(href="/reviews", class="nav-link") Reviews