header
    .navigation
        .container
            .row.justify-content-center.justify-contentmd-between.align-items-center.py-4
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/logo.svg", alt="Logo Travel", class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/about-us", class=(route === '/about-us' ? 'active' : '')) About us
                        a.nav-link(href="/trips", class=(route === '/trips' ? 'active' : '')) Trips
                        a.nav-link(href="/reviews", class=(route === '/reviews' ? 'active' : '')) Reviews